body {
    
   padding: 70px 30px;
   margin: auto;
/*     background-color: rgb(177, 238, 235); */
   background-color: lightslategray;
   font-family: "Courier", serif;
   text-align: center;
      }
      
 h1 {
    font-size: 32px;
    line-height: normal;
    text-align: center;
  }

main img {
border-radius: 100px;
border: 5px solid rgb(8, 104, 194);
text-align: center;
}


aside {
    margin: 70px;
    text-align: center;
    }

  footer {
    text-align: center;
    font-size: 17px;
  }
 footer img {
border-radius:5px
}

button a {
text-decoration: none;
}
